In [1]:
%matplotlib inline

# Handle table-like data and matrices
import numpy as np
import pandas as pd

# Visualisation
import matplotlib 
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
from bokeh.models import CategoricalColorMapper, HoverTool, ColumnDataSource
from bokeh.plotting import figure, output_file, show

In [2]:
wholedf = pd.read_csv('Vermont_Crash_Data_2012.csv')

In [19]:
wholedf.head()
wholedf['Date'] = pd.to_datetime(wholedf['Date'])
wholedf['month'] = wholedf['Date'].dt.month
wholedf['day'] = wholedf['Date'].dt.day
wholedf['year'] = wholedf['Date'].dt.year

In [20]:
wholedf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10988 entries, 0 to 10987
Data columns (total 31 columns):
ID                             10988 non-null int64
Reporting Agency               10988 non-null object
Report Number                  10988 non-null object
Date                           10988 non-null datetime64[ns]
Street Address                 10988 non-null object
Town                           10988 non-null object
Number                         10988 non-null object
Number1                        10988 non-null object
Number2                        10988 non-null object
Number3                        10988 non-null object
Intersection                   10941 non-null object
Distance From Intersection     10988 non-null object
Distance Unit                  10988 non-null object
Posted Speed                   10988 non-null int64
Direction of Collision         10988 non-null object
Direction from Intersection    10988 non-null object
Easting                        10326 non-null object
Northing                       10326 non-null object
Mile Marker                    10988 non-null object
Mile Marker 1                  10988 non-null object
Mile Marker 2                  10988 non-null object
AOT Roadway                    10988 non-null object
AOT Route                      10988 non-null object
AOT Actual Mile                10988 non-null float64
LRS Number                     10988 non-null object
How Mapped                     10988 non-null object
Crash Type                     10988 non-null object
Location 1                     10988 non-null object
month                          10988 non-null int64
day                            10988 non-null int64
year                           10988 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(24)
memory usage: 2.6+ MB

In [71]:
pd.unique(wholedf['Crash Type'])

array(['Property Damage Only', 'Injury', 'Fatal', 'Unknown'], dtype=object)

In [95]:
wholedf = wholedf.replace("NO DATA","NaN")

In [97]:
wholedf.head()

,ID,Reporting Agency,Report Number,Date,Street Address,Town,Number,Number1,Number2,Number3,...,AOT Roadway,AOT Route,AOT Actual Mile,LRS Number,How Mapped,Crash Type,Location 1,month,day,year
0,1,VTVSP0100,12A100558,2012-02-15,I-89 SB,South Burlington,NaN,NaN,NaN,89,...,State System (State Highways and Class I TH li...,I-89,85.45,I089-0000S,LRS,Property Damage Only,"(44.44490334, -73.14373867)",2,15,2012
1,2,VTVSP0100,12A104985,2012-12-19,I 89 S,Williston,NaN,NaN,NaN,89,...,State System (State Highways and Class I TH li...,I-89,84.59,I089-0000S,LRS,Property Damage Only,"(44.44033517, -73.12764354)",12,19,2012
2,3,VTVSP0100,12A100350,2012-01-27,I-89 Southbound Mm 83,Williston,NaN,NaN,NaN,89,...,State System (State Highways and Class I TH li...,I-89,84.20,I089-0000S,LRS,Property Damage Only,"(44.43958662, -73.11986209)",1,27,2012
3,4,VT0041000,12WT01961,2012-06-20,I 89 South,Williston,NaN,NaN,NaN,NaN,...,State System (State Highways and Class I TH li...,I-89,82.40,I089-0000S,LRS,Property Damage Only,"(44.43594815, -73.08413524)",6,20,2012
4,5,VTVSP0100,12A104443,2012-11-12,I-89 SB,Williston,NaN,NaN,NaN,89,...,State System (State Highways and Class I TH li...,I-89,79.80,I089-0000S,LRS,Injury,"(44.42840762, -73.03606960)",11,12,2012

In [100]:
count = wholedf[['Crash Type', 'Date']].groupby(['Crash Type'], as_index=False).count()
count

             Crash Type  Date
0                 Fatal    69
1                Injury  2164
2  Property Damage Only  8742
3               Unknown    13

In [107]:
count = wholedf[['Town', 'Date']].groupby(['Town'], as_index=False).count().sort_values(by='Date',ascending=0)
count['Percentage'] = count['Date'] / count['Date'].sum()
count.head(10)

                 Town  Date  Percentage
34         Burlington  1144    0.104114
179  South Burlington   860    0.078267
47         Colchester   641    0.058336
23        Brattleboro   525    0.047779
166      Rutland City   500    0.045504
65              Essex   439    0.039953
13         Bennington   405    0.036858
235         Williston   302    0.027485
240     Winooski City   261    0.023753
181       Springfield   254    0.023116

In [108]:
burldf = wholedf[wholedf['Town'] == "Burlington"]
count = burldf[['Crash Type', 'Date']].groupby(['Crash Type'], as_index=False).count()
count

             Crash Type  Date
0                 Fatal     1
1                Injury   147
2  Property Damage Only   996

In [113]:

count = wholedf[['Crash Type', 'Town']].groupby(['Crash Type'], as_index=False).count().sort_values(by='Town',ascending=0)

count.head(10)

             Crash Type  Town
2  Property Damage Only  8742
1                Injury  2164
0                 Fatal    69
3               Unknown    13

In [132]:
subdf = wholedf[wholedf['Crash Type'] == "Injury"]
subdf = subdf[['Crash Type', 'Town']].groupby(['Town'], as_index=False).count().sort_values(by='Crash Type',ascending=0)
subdf['Percentage'] = subdf['Crash Type'] / subdf['Crash Type'].sum()
subdf.head(10)

                 Town  Crash Type  Percentage
30         Burlington         147    0.067930
41         Colchester          95    0.043900
148      Rutland City          79    0.036506
13         Bennington          68    0.031423
159  South Burlington          66    0.030499
22        Brattleboro          57    0.026340
58              Essex          42    0.019409
80           Hartford          42    0.019409
161       Springfield          41    0.018946
9          Barre City          40    0.018484

In [133]:
subdf = wholedf[wholedf['Crash Type'] == "Property Damage Only"]
subdf = subdf[['Crash Type', 'Town']].groupby(['Town'], as_index=False).count().sort_values(by='Crash Type',ascending=0)
subdf['Percentage'] = subdf['Crash Type'] / subdf['Crash Type'].sum()
subdf.head(10)

                 Town  Crash Type  Percentage
34         Burlington         996    0.113933
174  South Burlington         790    0.090368
47         Colchester         544    0.062228
23        Brattleboro         466    0.053306
161      Rutland City         417    0.047701
65              Essex         397    0.045413
13         Bennington         334    0.038206
228         Williston         262    0.029970
233     Winooski City         234    0.026767
176       Springfield         210    0.024022

In [134]:
wholedf.groupby(['Crash Type','Town']).size()

Crash Type            Town
Fatal                 Barnet                2
                      Barre Town            1
                      Barton                1
                      Bennington            3
                      Bolton                1
                      Brattleboro           2
                      Bridgewater           1
                      Bristol               1
                      Burke                 1
                      Burlington            1
                      Colchester            2
                      Coventry              2
                      Danville              1
                      Eden                  1
                      Fairfield             1
                      Fayston               1
                      Georgia               1
                      Greensboro            2
                      Hartford              2
                      Highgate              1
                      Hinesburg             1
                      Irasburg              1
                      Jamaica               2
                      Johnson               1
                      Killington            1
                      Londonderry           1
                      Maidstone             1
                      Marshfield            4
                      Mendon                1
                      Middlebury            1
                                         ...
Property Damage Only  West Rutland         13
                      West Windsor          2
                      Westfield             2
                      Westford              9
                      Westminster          24
                      Westmore              4
                      Weston                5
                      Weybridge             1
                      Wheelock              9
                      Whiting               1
                      Whitingham           15
                      Williamstown          8
                      Williston           262
                      Wilmington           60
                      Windham               3
                      Windsor              33
                      Winhall              23
                      Winooski City       234
                      Wolcott              12
                      Woodbury              2
                      Woodford             10
                      Woodstock            32
                      Worcester             1
Unknown               Berlin                4
                      Montpelier            1
                      South Burlington      4
                      Springfield           1
                      Weathersfield         1
                      Williston             1
                      Winooski City         1
dtype: int64

In [137]:
def freaky(value):
    new_value = value ** 2
    return new_value
num = freaky(4)
print(num)

16